.searchbox {
	position: relative;
	.input-box {
		border-radius: 6px;
		overflow: hidden;
		position: relative;
		.icon {
			position: absolute;
			top: 30%;
			height: 16px;
			width: 16px;
			fill: #b9b9b9;
		}
		.icon.icon--left {
			left: 1em;
		}
		input {
			height: 40px;
			padding: 0.2em 0.2em 0.2em 3em;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			display: block;
			width: 100%;
			background-color: #f2f3f4;
			-webkit-box-shadow: none;
			box-shadow: none;
			outline: none;
			border: none;
			color: #4e4e4e;
			font-weight: 600;
			font-size: 1em;
			&:focus {
				background-color: #fff;
			}
			&:active {
				background-color: #fff;
			}
			&::-webkit-input-placeholder {
				color: #b9b9b9;
			}
			&::-moz-placeholder {
				color: #b9b9b9;
			}
			&:-ms-input-placeholder {
				color: #b9b9b9;
			}
			&::-ms-input-placeholder {
				color: #b9b9b9;
			}
			&::placeholder {
				color: #b9b9b9;
			}
		}
	}
	.search-list {
		z-index: 10;
		background-color: #fff;
		max-height: 250px;
		overflow-y: auto;
		position: absolute;
		width: 100%;
		top: 40px;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		.search-list--item {
			padding: 1em;
			border-bottom: 1px solid #e2e2e2;
			&:last-child {
				border-bottom: 0px;
			}
			.meta-info {
				display: block;
				text-align: left;
				font-size: 0.8em;
				line-height: 1.5em;
			}
		}
		.search-list--item.active {
			background-color: #fefddc;
			cursor: pointer;
		}
	}
}
.searchbox.selectable {
	.input-box {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}
.searchbox.focused {
	.input-box {
		-webkit-box-shadow: 0px 2px 4px 0px #9b9b9b;
		box-shadow: 0px 2px 4px 0px #9b9b9b;
		border: none;
		input {
			background-color: #fff;
		}
	}
	.search-list {
		border-top: 1px solid #e2e2e2;
		-webkit-box-shadow: 0px 3px 4px 0px #9b9b9b;
		box-shadow: 0px 3px 4px 0px #9b9b9b;
	}
}
.placeholder-no-items {
	font-size: 0.8em;
	color: #9a9a9a;
	font-weight: 700;
}
